body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    padding: 20px;
}

h1 {
    color: white;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
